<div class="ui-g">

    <form (ngSubmit)="onSubmit()" #sysForm="ngForm" novalidate>

      <div class="ui-g-2">
        博客海报
      </div>
      <div class="ui-g-10">
        <img [src]="sys.blog_poster" height="150" alt=""><br>
        <input type="file" (change) = "processWebImage($event)">
      </div>
      <div class="ui-g-2">
        博客标题
      </div>
      <div class="ui-g-10">
        <input pInputText name="blog_title" [(ngModel)]="sys.blog_title" required>
      </div>
      <div class="ui-g-2">
        博客介绍
      </div>
      <div class="ui-g-10">
        <textarea pInputTextarea name="blog_desc" [(ngModel)]="sys.blog_desc" rows="3"  style="width:100%;" required></textarea>
      </div>
      <button pButton type="submit" [disabled]="!sysForm.valid" label="提交"></button>
    </form>

</div>
