<div class="row">
    <div class="col-md-8">
        <form (ngSubmit)="onSubmit()" #sysForm="ngForm" novalidate>
            <div class="form-group">
                <div class="text-center">
                    <img [src]="sys.blog_poster" #poster class="rounded img-thumbnail  " style="width:285px;height:180px;" alt="...">
                </div>
                <label for="">博客海报</label>
                <input type="file" name="blog_poster" (change)="processWebImage($event)" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="">博客标题</label>
                <input type="text" name="blog_title" [(ngModel)]="sys.blog_title" class="form-control" required>
                <!--<div class="alert alert-info">
                    {{sys.blog_title}}
                </div>-->

            </div>
            <div class="form-group">
                <label for="">博客介绍</label>
                <textarea class="form-control" name="blog_desc" [(ngModel)]="sys.blog_desc" required></textarea>
                <!--<div class="alert alert-info">
                    {{sys.blog_desc}}
                </div>-->
            </div>
            <input type="submit" class="btn btn-primary" [disabled]="!sysForm.valid" value="提交">
        </form>
    </div>
    <div class="col-md-4">
        <app-sidebar></app-sidebar>
    </div>
</div>