<div class="ui-g">
  <div class="ui-g-12">
    <form articleForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="ui-g-2">
        标题
      </div>
      <div class="ui-g-10">
        <input pInputText name="article_title" [(ngModel)]="article.article_title" [ngModelOptions]="{standalone: true}" required>
      </div>

      <div class="ui-g-2">
        分类
      </div>
      <div class="ui-g-10">
        <p-dropdown [options]="heroes" [(ngModel)]="article.article_cat" [ngModelOptions]="{standalone: true}"></p-dropdown>
      </div>
      <div class="ui-g-2">
        内容
      </div>
      <div class="ui-g-10">
        <textarea pInputTextarea id="elementId" name="article_content" [(ngModel)]="article.article_content" #elementId required></textarea>
      </div>
      <div class="ui-g-10" style="text-align:right;">
<button pButton label="提交"></button>
      </div>
      
    </form>
  </div>
</div>
