<top-menu></top-menu>
<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-xs-12 col-md-offset-1 push-md-1">
                <nav class="breadcrumb mt-3">
                    <a class="breadcrumb-item" [routerLink]="['']">首页</a>
                    <!--<a class="breadcrumb-item" href="#">分类一</a>
                    <span class="breadcrumb-item active">文章一</span>-->
                </nav>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <app-footer></app-footer>

</div>