<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a href="" class="navbar-brand">懒人博客</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
        <ul class="navbar-nav">
            <!-- <li class="nav-item">
                <a routerlink="" routerLinkActive="active" class="nav-link">首页</a>
            </li>

            <li class="nav-item">
                <a routerlink="/crisis-center" routerLinkActive="active" class="nav-link">危机</a>
            </li>

            <li class="nav-item">
                <a routerlink="/heroes" routerLinkActive="active" class="nav-link">英雄</a>
            </li>-->
        </ul>

        <form class="form-inline mr-auto" style="position: relative">
            <div class="input-group">
                <input class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value)" type="text" placeholder="输入关键字..." />
                <!--<span class="input-group-btn">
                    <button class="btn btn-outline-success" (click)="search(searchBox.value)">搜索</button>
                </span>-->
            </div>
            <ul class="list-group" style="position: absolute; top: 50px;left:0;z-index:5;">
                <li class="list-group-item" *ngFor="let article of articles | async" (click)="gotoDetail(article);">{{article.article_title}}</li>
            </ul>
        </form>


        <button type="button" *ngIf="!currentUser" class="btn btn-sm btn-success" (click)="staticModal.show()">登陆</button>

        <button type="button" *ngIf="currentUser" class="btn btn-sm btn-secondary" (click)="logout()">退出</button>

    </div>

    <div class="modal fade" bsModal #staticModal="bs-modal" (onHidden)="onHidden()" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">登陆</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="email">邮箱</label>
                            <input type="email" #email="ngModel" [(ngModel)]="login.email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="输入邮箱" required>
                            <div [hidden]="email.valid  || email.pristine" class="alert alert-danger">{{email.className}}邮箱必填</div>
                        </div>
                        <div class="form-group">
                            <label for="password">密码</label>
                            <input type="password" #password="ngModel" [(ngModel)]="login.password" name="password" class="form-control" id="password" placeholder="输入密码" required>
                            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">{{password.className}}密码必填</div>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">登陆</button>

                    </form>
                    <button (click)="skip()">百度</button>
                    <a routerLink="baidu" target="_blank">baidu</a>
                </div>
            </div>
        </div>
    </div>
</nav>