<div class="row">
    <div class="col-sm-8">
        <ul class="list-unstyled">
            <li class="media  mb-4" *ngFor="let article of articles; let last = last">
                <img class="d-flex align-self-center mr-3" src="assets/logo.jpg" width="64" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 mb-1" [routerLink]="['/detail', article._id]">{{article.article_title}}</h5>
                    <div [innerHTML]="article.article_content | brief"></div>
                    <div class="text-right">
                        <!--<button class="btn btn-sm btn-default" (click)="editArticle(index)">编辑</button>-->
                        <button class="btn btn-sm btn-danger" (click)="removeArticle(article)">删除</button>
                    </div>

                </div>


            </li>
        </ul>
        <pagination *ngIf="totalItems > 5" (pageChanged)="pageChanged($event)" [itemsPerPage]="itemsPerPage" [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
            lastText="&raquo;"></pagination>
    </div>
    <div class="col-sm-4">
        <app-sidebar></app-sidebar>
    </div>

</div>